body {
    background: lightblue;
    font-family: Impact;
    color: green
}
h1 {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px
}
.p1 {
    font-size: 30px;
    text-align: center
}
/* nembak class paka titik "." sebelum*/
#p2 {
    font-size: 15px;
    text-align: center
}