<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulir</title>
</head>
<body>
    <h1>Formulir CPNS</h1>
    <form method="post" action="http://localhost:5000/dataku">
        <p>Nama : <input name="nama_cpns" type="text" placeholder="Ketik nama..."></p>
        <p>Usia : <input name="usia_cpns" type="number" placeholder="Ketik usia..."></p>
        <p><input type="submit" value="Kirim Data"></p>
    </form>
    
</body>
</html>