<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Selamat datang di backend saya!</h1>
    <a href ="/data">
    data
    </a>
    <h3>Dari mana asal kamu?</h3>
    <select>
        <option>Surga</option>
        <option>Neraka</option>
        <option>Dunia lain</option>
    </select>
    <hr/>
    <marquee>
        <img src="https://www.audiotool.com/track/me_gusta-jyniu0/"
        />
    </marquee>
</body>
</body>
</html>