<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- internal style -->
    <style>
        h2 {
            color: blue;
            font-family: Impact
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../static/031-gaya.css"
</head>
<body>
    <center>
        <br><br><br>
        <!-- inline style -->
        <h1 font-family: "impact">
            404 File tidak ditemukan!
        </h1>
        <h2>
            Mohon coba lagi...
        </h2>
        <h3>
            Style dari eksternal
        </h3>
    </center>
</body>
</html>