<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <!-- <style>
        body {
            background: lightblue;
            font-family: Impact;
            color: white
        }
        h1 {
            text-align: center;
            font-size: 60px;
            text-transform: uppercase;
            letter-spacing: 2px
        }
        .p1 {
            font-size: 30px;
            text-align: center
        }
        /* nembak class paka titik "." sebelum*/
        #p2 {
            font-size: 15px;
            text-align: center
        }
    </style> -->
  
<!-- untuk ambil style dari CSS -->
<!-- <link
    rel="stylesheet"
    type="text/css"
    href="033-tes.css"
/> -->
<!-- untuk link file css -->
<link
    rel="stylesheet"
    type="text/css"
    href="../static/033-tes.css"
/>
<!-- bisa juga menggunakan href="033-tes.css" -->
</head>
<body>
    <h1>Selamat datang di belajarflask</h1>
    <hr>
    <p class="p1">www.belajarflask.id</p>
    <p id="p2">Selamat belajar~</p>
    <h1 class="p1">Hello world!</h1>
</body>
</html>