<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML</title>
</head>
<body>
    <h1>Ini adalah contoh HTML sederhana</h1>
    <img
        width="300px"
        height="400px"
        src="http://localhost:5000/images/doge.jpg"
    />
    
    <form action="http://localhost:5000/post" method="POST">
    <p>
        Nama: <input name="Nama" type="text" placeholder="Ketik nama Anda"/>
    </p>
    <p>
        Password: <input name="Pass" type="password" placeholder="Masukan password"/>
    </p>
    <p>
        <input type="submit" value="Kirim Data"/> 
    </p>
    </form>
</body>
</html>