<!DOCTYPE html>
<html lang="en">
<head>
    <title>Titanic</title>
</head>
<body style="margin: 20px">
    <h1>Titanic Survivor 🗻💥🚢</h1>
    <h3>GET</h3>
    <ul>
        <li>
            <a href='/prediksi'>
                <pre>/prediksi</pre>
            </a>
        </li>
</ul>
    <h3>POST</h3>
    <ul>
        <li>
            <pre>/titanic12</pre>
            <p>JSON Body request:</p>
            <pre style="background-color:lightblue">
                    {
                        "female" : [number],
                        "male" : [number],
                        "child" : [number],
                        "man" : [number],
                        "woman" : [number],
                        "pclass" : [number],
                        "age" : [number],
                        "sibsp" : [number],
                        "parch" : [number],
                        "fare" : [number],
                        "adultman" : [number],
                        "alone" : [number]
                }
            </pre>
        </li>
    </li>
    <li>
        <pre>/titanic6</pre>
        <p>JSON Body request:</p>
        <pre style="background-color: lightblue">
        {
            "sex" : [number], "pclass" : [number], "age" : [number], 
            "sibsp" : [number], "parch" : [number], "fare" : [number]
        }
        </pre>
</li>
    </ul>
    
</body>
</html>